<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>965926839259-od829ue8qsqgbhdcbtdpfkams3o7g314.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965926839259-od829ue8qsqgbhdcbtdpfkams3o7g314</string>
	<key>API_KEY</key>
	<string>AIzaSyBpMIS1_eW6nAZC2h2UgVQcTlNEsi2pEmg</string>
	<key>GCM_SENDER_ID</key>
	<string>965926839259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Finstagram</string>
	<key>PROJECT_ID</key>
	<string>finastagram-app</string>
	<key>STORAGE_BUCKET</key>
	<string>finastagram-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965926839259:ios:0a4d55dabc2ae85d</string>
	<key>DATABASE_URL</key>
	<string>https://finastagram-app.firebaseio.com</string>
</dict>
</plist>